.navbar{
    background-color: var(--color-orange);
    text-shadow: 2px 2px 3px var(--color-dark);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-evenly;
    border-bottom:1px solid var(--color-light);
    align-items: center;
    height: 43px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-item{
    font-family:var(--font-title);
    background-color: var(--color-blue-dark);
    border:1px solid var(--color-light);
    color: var(--color-light);
    display: flex;
    height:calc(100% + 10px);
    list-style: none;
    align-items: center;
    margin-bottom:10px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
}
.nav-item a{
    color: var(--color-light);
    z-index: 2;
}
.nav-item:hover{
    background-color: var(--color-blue-light);
    height: calc(100% - 10px);
    margin-top:10px;
    padding-bottom:10px;
    cursor: pointer;
    z-index: 2;
}
.nav-item:hover a{
    color: var(--color-light);
    margin-top:10px;
    cursor: pointer;
    z-index: 2;
}
.nav-item.active{
    background-color: var(--color-blue-light);
    height: calc(100% - 10px);
    margin-top:10px;
    padding-bottom:10px;
    z-index: 2;
}
.nav-item.active a{
    color: var(--color-light);
    margin-top:10px;
    z-index: 2;
}