@import url(/css/header.css);
@import url(/css/navbar.css);

@import url(/css/main/style.css);
@import url(/css/main/prestentation.css);
@import url(/css/main/journey.css);
@import url(/css/main/skills.css);
@import url(/css/main/hobbies.css);
@import url(/css/main/contact.css);
@import url(/css/main/recommandation.css);

@import url(/css/footer.css);

:root {

    --color-light:#DAE2F7;
    --color-dark:#04070D;

    --color-main:#304A95;
    --color-blue-light:#627ED2;
    --color-blue-dark:#2A304A;

    --color-orange:#E1AB49;

    --font-title:'Oswald', sans-serif;
    --font-text:'Raleway', sans-serif;

}



