@import url("header.css");
@import url("navbar.css");

@import url("main/style.css");
@import url("main/prestentation.css");
@import url("main/journey.css");
@import url("main/skills.css");
@import url("main/hobbies.css");
@import url("main/contact.css");
@import url("main/recommandation.css");

@import url("footer.css");
@font-face {
font-family: "DoctorWho";
src: url("css/font/Doctor-Who-Regular.ttf.eot"),
src: url("css/font/Doctor-Who-Regular.ttf.eot?#iefix") format('embedded-opentype'),
src: url("css/font/Doctor-Who-Regular.ttf.woff") format("woff"),
url("css/font/Doctor-Who-Regular.ttf.otf") format("opentype"),
url("css/font/Doctor-Who-Regular.ttf.svg#Doctor-Who-Regular") format("svg");
}

:root {

    --color-light:#DAE2F7;
    --color-dark:#04070D;

    --color-main:#304A95;
    --color-blue-light:#627ED2;
    --color-blue-light_opacity: rgba(98, 126, 210, 0.5);
    --color-blue-dark:#2A304A;
    --color-blue-darker: #15152a;

    --color-orange:#E1AB49;

    --font-title:'DoctorWho', Arial, sans-serif;
    --font-text:'Raleway', sans-serif;

    --radius: 8px;
}
