h2{
    font-family:var(--font-title);
    color: var(--color-light);
}
.customer_review{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;

}
.carte_review{
    display: flex;
    position: relative;
}
.review img{
    display: flex;
    position: absolute;
    top:-10px;
    left: -15px;
    z-index: 2;
    border:2px solid var(--color-light);
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    width:65px;
    height:65px;

}
.review_title{
    display: flex;
    position:absolute;
    font-family:var(--font-title);
    width:200px;
    text-align:center;
    top:0;
    left:85px;
    z-index: 2;

}
.review_star{
    display: flex;
    position: absolute;
    text-shadow: 1px 1px 2px var(--color-dark);
    color: var(--color-light);
    top:9px;
    right:20px;
    z-index: 2;
}
.checked {
    color: var(--color-main);
}
.review_text{
    display: flex;
    max-width: calc(100vh / 3);
    font-family:var(--font-text);
    min-width: calc(100vh / 3);
    background-color: var(--color-light);
    border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
    padding:30px 20px 20px 50px;
    z-index: 1;

}
.review_date{
    display: flex;
    position:absolute;
    font-family:var(--font-text) bold;
    font-size: 10pt;
    width:200px;
    text-align:center;
    bottom:5px;
    right:-120px;
    z-index: 2;

}