.customer_review{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: baseline;

}
.carte_review{
    display: flex;
    position: relative;
}
.review img{
    display: flex;
    position: absolute;
    top:18px;
    left: 0;
    z-index: 2;
    border:2px solid var(--color-light);
    object-fit: cover;
    object-position: top;
    border-radius: var(--radius);
    width:65px;
    height:70%;

}
.review_title{
    display: flex;
    position:absolute;
    font-family:var(--font-text);
    color: var(--color-main);
    width:200px;
    text-align:left;
    top:0;
    left:75px;
    z-index: 2;

}
.review_star{
    display: flex;
    position: absolute;
    text-shadow: 1px 1px 2px var(--color-dark);
    color: var(--color-light);
    top:20px;
    right:10px;
    z-index: 2;
}
.checked {
    color: var(--color-main);
}
.review_text{
    display: flex;
    max-width: calc(100vh / 3);
    font-family:var(--font-title);
    color: var(--color-main);
    min-width: calc(100vh / 3);
    height:50px;
    background-color: var(--color-light);
    border-radius: var(--radius) var(--radius) var(--radius) var(--radius);
    padding:30px 10px 30px 75px;
    z-index: 1;

}
.review_date{
    display: flex;
    position:absolute;
    font-family:var(--font-title);
    font-weight: bold;
    color: var(--color-main);
    font-size: 10pt;
    width:200px;
    text-align:center;
    bottom:5px;
    right:-120px;
    z-index: 2;

}