.global{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.skills{
  --nb-skills: 2;
  --space-screen: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-main);
  width: calc((100% - var(--nb-skills) * var(--space-screen)*2)/var(--nb-skills));
  font-family: var(--font-text);
  margin-bottom: var(--space-screen);
  border-radius: var(--radius);
  background: var(--color-light)

}

.skills h3{
  display: flex;
  padding: 10px;
  margin: 0;
}

.tardis{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 30px;
}

.imgtardis{
  width: 20px;
  height: 20px;
  display: none;
}
.checked{
  display: block;
}

@media (max-width:600px) {
  .skills {
    --nb-skills: 1;
    width: calc((100% - var(--nb-skills) * var(--space-screen) * 2) / var(--nb-skills));
  }
}
