h2{
  color:var(--color-light);
  font-family: var(--font-title);
  display:flex;
}

.global{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.skills{
  --nb-skills: 2;
  --space-screen: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-main);
  width: calc((100% - var(--nb-skills) * var(--space-screen)*2)/var(--nb-skills));
  font-family: var(--font-title);
  margin-bottom: var(--space-screen);
  border: 3px solid var(--color-main);
  border-radius: 15px;
  background: var(--color-light)

}

.skills h3{
  display: flex;
  padding: 30px;
}

.tardis{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 30px;
}

.imgtardis{
  width: 20px;
  height: 20px;
  display: none;
}
.checked{
  display: block;
}

@media (max-width:1000px) {
  .skills{
    --nb-skills:1;
    width: calc((100% - var(--nb-skills) * var(--space-screen)*2)/var(--nb-skills));
  }
