<<<<<<< Updated upstream
=======
body{
    max-width:1280px;
    height:100vh;
    margin: auto;
    background-color:var(--color-dark);
    object-fit: cover;
    object-position: initial;
}
>>>>>>> Stashed changes
